* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
    
  }
  
  img, svg, iframe {
    width: 100%;
}

header {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  

  >div {
    margin: 20px 0 40px 0;
  }
  >div>img {
    width: 40px;
  }
}

main {
  display: grid;
  place-items: center;
}

#weather_section_search {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  place-items: center;

  >input {
    padding: 5px;
    border: 2px solid rgb(51, 41, 184);
    border-width: .4px;
    border-radius: 5px;
    color: gray;
    font-size: 1.2rem;
  }

  >button {
    display: grid;
    border: none;
    cursor: pointer;
    background-color: white;

    >img {
      width: 30px;
      padding: 2px;
    }

    >img:hover {
      background-color: rgb(221, 220, 243);
      border-radius: 5px;
    }

    >img:active {
      width: 25px;
    }
  }
}

#big_section {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

#weather_section_result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;

  >div {
    background-color: antiquewhite;
  }
}

#first_card {
  width: 100%;
  height: 100%;
  background-image: url(/img/3d-nature-with-sun-and-mountains.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  

  >#first_child {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
  }

  >#second_child {
    text-align: center;
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

  >#third_child { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20px 20px 20px;
    column-gap: 10px;
    color: white;
    
    >div {
      display: grid;
      background-color: rgb(61, 113, 173);
      padding: 10px;
      width: 65%;
      border-radius: 10px;

      >.temperature {
        text-align: center;
        font-weight: bold;
      }

      >.text {
        text-align: center;
        font-size: .9rem;
        margin-bottom: 5px;
      }
    }
  }
}

#second_card {
  width: 100%;
  height: 100%;
  background-image: url(/img/25501.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;

  >#first_child {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
  }

  >#second_child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    place-items: center;
    margin-top: 40px;

    >div {
      color: white;
      background-color: rgb(61, 113, 173);
      display: grid;
      place-items: center;
      width: 180%;
      height: 150%;
      border-radius: 10px;

      >.text {
        font-size: .9rem;
      }

      >.number {
        font-weight: bold;
      }
    }
  }
}